@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');


.boxSet{
	background-color: black;
	color:white;

	
}



.MinImg{
	
filter: grayscale(0%);
filter: black;
-webkit-filter: grayscale(0%);
filter: none;
transition: 0.1s ease;
box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
margin-left:1%;
margin-right:1%;
cursor:pointer;
	

}

.MinImg:hover{

filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 0.01s ease;
opacity:91%;
	

}



.workRowset{
z-index:100;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}



.heightFooter{
height:3vw;
}

.mt-6,
.my-6 {
  margin-top: 5rem !important;
}

.ml-max{margin-left:22rem;}

.typeBg{
background-color:black;
color:white;

}

.bigtype{
font-size: 3rem;
font-weight:1000;
}

.btnType{
background-color: black; color:white; text-align:center;
height:4rem;
text-align:center;
vertical-align:center;
margin-top:1.5rem;
padding-top:-1rem;
}




.workbox{
background-color: black; color:white; padding:25px;
font-weight:200;
box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
margin-bottom:6rem;
}

.workbox2{
background-color: white; color:black; padding:25px;
font-weight:200;
border-style:solid;

	
}

.worktitle{
font-weight:1000;
}

.subtitle{
font-weight:700;
}

.workdetail{
font-size:1rem; color:#747474;
}

.workinfo{
line-height:2rem;
font-weight:500;
}

.linkicon{
text-align:right;
margin-right:1.5rem;
cursor:pointer;
}

.iconInsta{
opacity:100%;
}

.iconInsta:hover{
opacity:70%;
}

.navbar-toggler2 {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  /* line-height: 1; */
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;

